header {
  height: 60px;
  background: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  .aligner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .margin-r {
      margin-right: 35px;
    }
  }
}
